body {
  text-align:center;
}

.template {
  display: inline-block;
  vertical-align: top;
}

.manual {
  display: inline-block;
  vertical-align: top;
}

.line{
  letter-spacing: -.40em;
}

.tableTitle{
  letter-spacing: normal;
  display: inline-block;
  border: solid 1px black;
  padding: 1px;
  font: 400 13.3333px Arial;
  margin: 1px;
}

.edit{
  vertical-align: top;
  margin: 1px;
  text-align: center;
}

.year {
  width: 70px;
}
.month {
  width: 35px;
}
.name {
  width: 180px;
}
.mainCategory {
  width: 107px;
}
.subCategory {
  width: 100px;
}
.price {
  width: 70px;
}
.volume {
  width: 35px;
}
